In [6]:
#Q1
def q1(o_list):
  n_list=[]
  for i in range(len(o_list)):
    n_list.append(o_list[i]**2)
  return n_list

In [5]:
q1([1,2,3,4])

[1, 4, 9, 16]

In [2]:
#Q2
def q2(n,m):
  count=0
  isPrime=False
  if n>m:
    print("Please enter smaller number first")
  if m<=1:
    return count
  if n==2 or n==3:
    count=count+1
  for val in range(n, m+1):
    if val > 1:
     for i in range(2, val):
       if val % i == 0:
         isPrime=False
         break
       else:
         isPrime=True
    if isPrime:
      count=count+1
      isPrime=False
  return count

In [3]:
q2(2,16)

6

In [68]:
n=2
while n<8:
  for i in range (2,n):
    if i%4==0:
      break
    else:
      print(n)
  n=n+1

3
4
4
5
5
6
6
7
7

In [73]:
for i in range (2,2):
  print(i)

In [20]:
#Q3
def q3(n):
  total=1
  for i in range(2,n+1):
    if (i%5==0 or i%7==0):
      total=total
    else:
      total=total+i
  return total

In [22]:
q3(15)

69